
.st{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: palegoldenrod; 
  cursor: pointer; 
  text-align: center;
  background-color: black;
  height: 500px;


}
.st input{
  width: 60px;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  color: rgb(10, 83, 35);
  font-weight: 900;
  outline: none;
  margin-left: 20px;
  margin-top: 20px;

}

.header{
  width: 100%;
  height: 50px;
  text-align: center;
  color: black;
  font-weight: 900;
  font-size: 40px;
  background-color: palegoldenrod; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.res{
  width: 100%;
  height: 50px;
  text-align: center;
  color: black;
  font-weight: 900;
  font-size: 30px;
  background-color: antiquewhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}




